<!doctype html>
<html ng-app = "TodoApp">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script src="todoApp.js"></script>
  <style type="text/css">
    .strike{text-decoration: line-through;}
  </style>
</head>
<body>
  <h1 ng-controller = 'headerController'>TODO App({{todos.length}})</h1>

  <div ng-controller = "todoAppController">
    <input type="text" placeholder="Enter a TODO item" ng-model="todoText" ng-keypress="addTodo($event)">

    <div ng-repeat ='todo in todos'>
      <div  ng-hide ="todo.EditItem">
        <input type="checkbox" ng-model="todo.isCompleted" ng-click='saveTODO(todo)'>
        <label ng-class = "{strike:todo.isCompleted}">{{todo.text}}</label>
        <input type="button" value="Edit" ng-click="editTODO(todo)" ng-disabled = "todo.isCompleted">
        <input type="button" value="Delete" ng-click="deleteTodo($index,todo)">
      </div>
      <div ng-hide ="!todo.EditItem"> 
       <input type="text" ng-model="todo.text">
       <input type="button" value="Save" ng-click="saveTODO(todo)">
       <input type="button" value="Cancel" ng-click="cancelTodoEdit(todo)">
+
     </div>
   </div>
 </div>
</body>
</html>